.login_main{
    box-sizing: border-box;

    position: absolute;
    width: 68.47%;
    height: 50%;
    left: 16.87%;
    top: 26.36%;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;

    z-index: 2;
}

.login_dark{
    box-sizing: border-box;

    position: absolute;
    width: 68.47%;
    height: 50%;
    left: 18.9%;
    top: 29.5%;

    background: #DE8D52;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;

    z-index: 1;
}

.login_title{
    position: absolute;
    width: 50%;
    height: 5%;
    left: 30%;
    top: 29.5%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    text-align: center;

    color: #000000;

    z-index: 3;
}

.login_title p{
    position: absolute;
    width: 300px;
    height: 6px;
    left: -55px;
    top: -61px;

    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 98px;
    color: #F48E44;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
}

.login_option{
    position: absolute;
    width: 11%;
    height: 6%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    z-index: 3;
}

.login_input{
    position: absolute;
    width: 31.6%;
    height: 4.78%;

    background: #FFF5D9;
    border: none;
    z-index: 3;
}

.login_button{
    position: absolute;
    width: 33.54%;
    height: 10%;
    left: 35.62%;
    top: 56.54%;

    background: #E87D30;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;

    border: none;

    z-index: 3;
}

.login_signup_nav{
    position: absolute;
    width: 30%;
    height: 4%;
    left: 42%;
    top: 70%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #CD5600;
    border: none;
    z-index: 3;
}

.login_nav_button{
    position: absolute;
    width: 13.75%;
    height: 7.32%;

    background: #FFF5D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;

    border: none;
    z-index: 3;
}