.inputBox{
    width: 300px;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
}
.nav{
    background : #FF9933;
    width : 100%;
    display : flex;
    color : white;
    padding : 10px;
}
.joinB{
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    padding: 2px;
    border-radius: 5px;
}

