.inputBox{
    width: 300px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
}
.joinB{
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    padding: 2px;
    border-radius: 5px;
}

