@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Happiness-Sans-Title';
}

p{
    font-family: 'Happiness-Sans-Title';
}

div{
    font-family: 'Happiness-Sans-Title';
}

